<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Express MicroBlog</title>
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="static/js/script.js"></script>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
  <script src=""></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">My MicroBlog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search for stuff">
            </div>
            <button type="submit" class="btn btn-default" id="search-button">Search</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"></a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3> What's on your mind? <small>Write it down before you forget.</small></h3>
        <div class="form-group">
          <label for="new-post-title">Give it a title:</label>
          <input type="text" class="form-control" id="new-post-title" autofocus="true" placeholder="What's this about?">
        </div>
        <div class="form-group">
          <label for="new-post">And now write some content:</label>
          <textarea class="form-control" rows="3" id="new-post" placeholder="Tell me more..."></textarea>
          <br>
          <button type="submit" class="btn btn-primary btn-xl pull-right" role="button" id="submit-button" aria-label="Center">Submit</button>
        </div>
        <br>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" >
      <div class="col-sm-8 col-sm-offset-2">
        <ul class="list-group" id="all-posts">
          <% for (var i=0; i<posts.length; i++) { %>
          <li class="list-group-item">
            <div class="caption">
              <div class="button-group pull-right">
                <button type="button" name="edit-button" class="btn btn-xs edit" data-id="<%= posts[i].id %>">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" name="share-button" class="btn btn-xs share" data-id="<%= posts[i].id %>">
                  <span class="glyphicon glyphicon-share"></span>
                </button>
                <button type="button" name="del-button" class="btn btn-xs delete" data-id="<%= posts[i].id %>">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
              <h3><%= posts[i].title %></h3>
              <p><%= posts[i].content %></p>
              <%var date = new Date(posts[i].timestamp)%>
              <p><small><i><%= date.toLocaleDateString() %> </i></p></small>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
